@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  background: light-dark(white, #222222);
} */

::-moz-selection {
  /* Code for Firefox */
  color: light-dark(white, black);
  background: light-dark(black, white);
}

::selection {
  color: light-dark(white, black);
  background: light-dark(black, white);
}

.siwe-container .sign-in-with-ethereum-button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark .tooltip-card {
  color: var(--ethereum-identity-kit-text-primary-dark);
}
